<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avatye.cashblock.feature.offerwall">

    <application>
        <activity
            android:name=".presentation.view.intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

        <activity
            android:name=".presentation.view.main.OfferwallMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

        <activity
            android:name=".presentation.view.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

        <activity
            android:name=".presentation.view.detail.OfferwallDetailViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

        <activity
            android:name=".presentation.view.inquiry.InquiryRewardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

        <activity
            android:name=".presentation.view.inquiry.InquiryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CashBlock.AppTheme" />

    </application>

</manifest>